@import url(./main.css);

.body {
  background-color: var(--secondary--01);
}

.Folio-Header{
    width: 100%;
    height: 860px;
    background-color: var(--secondary--01);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.Folio-Header_Container{
    width: 100%;
    max-width: 966px;
    height: 696px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    align-items: flex-end;
}
.Folio-Header .Description{
  width: 764px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  z-index: 1;
}
.Folio-Header .Folio-Img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}